<span>Show:</span>

<!-- <input type="radio" (change)="onRadioButtonSelectionChange()" [(ngModel)]="selectedRBValue" value="All" name="empOption">{{'All('+ allCount+')'}}
<input type="radio" (change)="onRadioButtonSelectionChange()" [(ngModel)]="selectedRBValue" value="male" name="empOption">{{'male('+ maleCount+')'}}
<input type="radio" (change)="onRadioButtonSelectionChange()" [(ngModel)]="selectedRBValue" value="female" name="empOption">{{'female('+ femaleCount+')'}} -->

<select name="gender" id="all" (change)="onRadioButtonSelectionChange()" [(ngModel)]="selectedRBValue">
    
</select>
