<!-- <h3 style="background-color:pink ;">Employee Details</h3> -->
<!-- <b><emp style="font-family:'Courier New', Courier, monospace; color: rgb(15, 66, 102);"></emp></b> -->
<!-- <input type="button" id="btn1" onclick="showe()" value="Show emp"> -->
  
<!-- <emp-list></emp-list>
<dep-list></dep-list> 
     -->
     <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link active" routerLink="emp" aria-current="page" href="#">emp</a>
                </li>
                
                <li class="nav-item">
                  <a class="nav-link" routerLink='empList' href="#">empList</a>
                </li>
               
              </ul>
            </div>
          </div>
        </nav>
        <router-outlet></router-outlet>

<!-- <empList style="font-family:'Courier New', Courier, monospace; color: rgb(15, 66, 102);"></empList> 
<emp></emp> -->

<!-- <div class="row" style="margin-top: 15%;">

  <div class="col-md-6 ">
    <h3>Component 1</h3>
    <app-component1></app-component1>
  </div>
  <div class="col-md-6">
    <h3>Component 2</h3>
    <app-component2></app-component2>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>Component 3</h3>
    <app-component3></app-component3>
  </div>

  <div class="col-md-6">
    <h3>Component 4</h3>
    <app-component4></app-component4>
  </div>
</div> -->