<div class="container text row mx-auto">
    <h1 class="col-md-12 text-left"><u><b>
      View Product</b></u>
   
    </h1>
    <section class="col-md-4 mb-3 ">
      <label  for="category">category: &nbsp;</label> <span>{{category}}</span>
    </section>
    <section class="col-md-4">
      <label for="name">Name:&nbsp; </label>
      <span>{{name}}</span>
    </section>
    <section class="col-md-4">
      <label for="color">color: &nbsp;</label><span>{{color}}</span>
    </section>
    <section class="col-md-4">
      <label for="code">code: &nbsp;</label><span>{{prodList.code}}</span>
    </section>  
    <section class="col-md-4">
      <label for="quantity">quantity:&nbsp; </label><span>{{quantity}}</span>
    </section>
    <section class="col-md-4">
    <label for="price">price:&nbsp; </label><span>{{price}}</span>
      </section>  
      <section class="col-md-4">
    <label for="email">email:&nbsp; </label><span>{{email}}</span>
      </section>
      <section class="col-md-4">
    <label for="description">description:&nbsp; </label><span>{{description}}</span>
      </section>    
  <div>
    <section class="col-md-4">
      <button mat-raised-button color="primary" >Go to Product List</button>
    </section>
  </div>
  </div>