<!-- <input type="button" id="btn1" on-click="showE()" value="Show emp">
<button (click)="showE" class="btn-btn-primary" value="Show emp details" (click)="changeText()">{{btnVal}}</button>
<br> -->
<!-- <button (click)="showE" class="btn-btn-primary" (click)="changeText()">{{btnVal}}</button> -->


<!-- <table border="2">
    <tr>
        <th>ID code</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Address</th>
        <th>Salary</th>
    </tr>
    <tr *ngFor='let empx of employees'>
        <td>{{empx.code}}</td>
        <td>{{empx.name}}</td>
        <td>{{empx.gender}}</td>
        <td>{{empx.address}}</td>
        <td>{{empx.salary}}</td>
    </tr>
    <tr *ngIf='employees.length==0'>
        <td colspan="5">No details found</td>
    </tr>
</table>  -->